html {
  background: url(/img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #666;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  height: 100%;
  background-color: transparent;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: orangered;
}

li {
  margin-bottom: 8px;
}

.cover {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover h1 {
  border-bottom: 1px solid orangered;
  padding: 0 40px 8px;
}

section {
  padding: 80px 0 0;
}

section .row {
  padding-top: 16px;
}

.background {
  width: 100%;
  background-color: #fff;
}

.profile {
  text-align: center;
}

.profile h3 {
  color: orangered;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #999;
}

.profile-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: orangered;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.entry {
  font-weight: bold;
}

.subentry {
  color: #999;
}

.skill {
  font-weight: bold;
  margin-top: 32px;
}

.skill:first-child {
  margin-top: 0;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .cover h1 {
      font-size: 1.9rem;
      border-bottom: 1px solid orangered;
      padding-bottom: 8px;
    }

    .profile-text {
      text-align: center; 
    }

    .profile img {
      margin-bottom: 24px;
    }

    .subentry {
      margin-bottom: 16px;
    }
}

/*.header {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100px;
}

.header-title {
  font-weight: bold;
  font-size: 64px;
  border-bottom: 1px solid orangered;
  text-align: center;
  padding: 0 40px;
}

.header-sub-title {
  font-size: 32px;
}

.profile {
  padding: 120px 0 40px 0;
  background-color: white;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #999;
}

.title-container {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.title {
  font-size: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.sub-title {
  color: #999;
  font-size: 16px;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.icons {
  margin-top: 8px;
}

.icons i {
  color: #bbb;
  padding-right: 16px;
}

.icons a:hover i {
  color: orangered;
}

.section {
  padding: 64px 0;
  color: #333;
  background-color: white;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: orangered;
  font-size: 32px;
  padding-bottom: 24px;
  width: 800px;
}

.skills {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: baseline;
  flex-direction: column;
}

.footer {
  background-color: #333;
  color: #ccc;
  height: 200px;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.footer-content {
  max-width: 700px;
  color: #ccc;
}

.footer-entry i {
  margin-right: 16px;
}

.container {
  margin-top: 40px;
}

.bold {
  font-weight: bold;
}

.sub {
  font-size: 0.9em;
  color: #999;
  margin-bottom: 16px;
}

.left {
  text-align: left;
}

canvas {
  max-width: 700px;
}

.chart-title {
  font-weight: bold;
  margin-bottom: 24px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
      font-size: 4vmin;
    }

    .profile-container {
      margin-bottom: 80px;
      flex-direction: column;
      align-items: center;
    }

    .profile img {
      width: 300px;
      height: 300px;
      margin-bottom: 100px;
    }

    .header-title {
      font-size: 80px;
    }

    .header-sub-title {
      font-size: 64px;
    }

    .section-title {
      font-size: 64px;
    }

    .title-container {
      margin-left: 0;
      align-items: center;
    }

    .title {
      font-size: 64px;
    }

    .sub-title {
      font-size: 32px;
    }

    .row {
      margin-top: 40px;
    }

    .footer {
      height: 300px;
    }
}
*/